*{
    padding:0;
    margin:0;
}
.image{
    
    margin:auto;
  border-radius:  30% 70% 70% 30% / 30% 30% 70% 70% ;
  background-color:#8A3FFC;
}
.banner{
  width:70%;
  height: auto;
   
    
    
}
.description{
  font-size: 20px;
  font-weight:600;
  opacity: 0.9;
  }
.about-img{
  width: 70%;
  height:auto;
}
.hello{
  text-decoration: none;
  color:black;
  opacity: 0.8;
  margin-top:10px;
 
}
.hello:hover{
  color:#8A3FFC;
}




