* {
  padding: 0;
  margin: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;

}

.title {

  font-family: 'Roboto', sans-serif;


  background-color: #6e72fc;
  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image {

  margin: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);


}


.banner {
  width: 70%;
  height: auto;



}

.banner1 {
  width: 80%;
  padding: 10px;
}

.description {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}

.desc2 {
  font-weight: 600;
  opacity: 0.6;

}

/* banner finish */
.about-container {

  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
}

.banner-btn {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}

.banner-btn:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #cc4499 37%, #aa00ff 100%);

}

.gradient-text {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 50%, #cc4499 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-des {
  opacity: 0.8;
}

.about-btn {
  border: 1px solid purple;
}


.about-btn:hover {
  background-color: purple;
}

.accordion-item {
  background-color: #090620;


}

.accordion-button {
  background-color: #090620;
  color: white;
  border: 2px solid purple;
  border-radius: 10px;
}

.accordion-header {
  color: peru;
}

.bar-color {
  background-color: purple;
}