* {
  padding: 0;
  margin: 0;

}

.nav-text {
  font-family: 'Whisper', cursive;
  font-weight: 900;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.title {

  font-family: 'Roboto', sans-serif;


  color: #5902EC;
}

.image {

  margin: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  background-color: #663dff;
  background-image: #5902EC;


}


.banner {
  width: 70%;
  height: auto;



}

.banner1 {
  width: 80%;
  padding: 10px;
}

.description {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}

.desc2 {
  font-weight: 600;
  opacity: 0.6;

}

/* banner finish */
.about-container {

  background-image: #5902EC;
}

.banner-btn {
  background-color: #5902EC;
}



.about-des {
  opacity: 0.8;
}

/* .about-btn {
  border: 1px solid purple;
} */



.about-btn:hover {
  background-color: purple;
}





.accordion-header {
  color: peru;
}

.bar-color {
  background-color: #5902EC;
}

.accordion-button {
  border: 1px solid #5902EC;
}